@import "../../base/variables";

.container {
  background: pink;
  margin: 0;
  .title {
    font-size: $font-size;
    color: orange;
  }
  .grid {
    display: grid;
    grid: 200px 200px/ repeat(2, 200px 400px 300px);
    grid-gap: 10px;
    > div {
      background: green;
      //width: 100px;
      //height: 100px;
      &:nth-child(2) {
        background: red;
        grid-area: 1 / 1 / 2 / 5;
      }
    }
  }
}

